.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

#navigation {
  margin-bottom: 2rem;
}

#navigation button {
  margin-right: 1rem;
}

#slide {
  border: 1px solid #eee;
  padding: 1rem;
  min-height: 300px;
}

button {
  min-width: 80px;
}
button{
    border: none;
    padding: 0.5rem 1rem;
    margin: 10px;
    box-shadow: 1px 1px 10px 1px lightcoral;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.25s ease-in;
}
button:hover{
    box-shadow: 1px 1px 10px 3px yellowgreen;
    color: yellowgreen;
}
[data-testid="title"]{
    color: indigo;
}
div{
    text-align: center;
}
